<a href="https://colab.research.google.com/github/95871abhinandankumar/95871abhinandankumar/blob/main/ML_practiceLab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

dataset = pd.read_csv("salary_data.csv")
print(dataset)

    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872

In [ ]:
print("Total features :", len(dataset.columns) -1)
print("Total patterns :", dataset.shape[0])


minimum = dataset['Salary'].min()
maximum = dataset['Salary'].max()
print("Range of output :", (minimum, maximum))

Total features : 1
Total patterns : 30
Range of output : (37731, 122391)

In [ ]:
x = .1
dataset1 = dataset.copy()
while x <= .9:
  y=1-x
  dataset1 = dataset.copy()
  x_part = dataset1.sample(frac = x)
  y_part = dataset1.drop(x_part.index)

  print("Showing the dataset ....", x, ':' , y)
  print("x part ...")
  print(x_part)
  print("y part ...")
  print(y_part)


  x += .1

Showing the dataset .... 0.1 : 0.9
x part ...
    YearsExperience  Salary
9               3.7   57189
23              8.2  113812
4               2.2   39891
y part ...
    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872
Showing the dataset .... 0.2 : 0.8
x part ...
    YearsExperience  Salary
6               3.0   60150
25              9.0  105582
27              9.6  112635
29             10.5  121872
23              8.2  113812
21              7.1   98273
y part ...
    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
22              7.9  101302
24              8.7  109431
26              9.5  116969
28             10.3  122391
Showing the dataset .... 0.30000000000000004 : 0.7
x part ...
    YearsExperience  Salary
12              4.0   56957
11              4.0   55794
27              9.6  112635
28             10.3  122391
23              8.2  113812
26              9.5  116969
29             10.5  121872
13              4.1   57081
25              9.0  105582
y part ...
    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
24              8.7  109431
Showing the dataset .... 0.4 : 0.6
x part ...
    YearsExperience  Salary
21              7.1   98273
8               3.2   64445
10              3.9   63218
24              8.7  109431
13              4.1   57081
7               3.2   54445
12              4.0   56957
16              5.1   66029
28             10.3  122391
14              4.5   61111
11              4.0   55794
5               2.9   56642
y part ...
    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
6               3.0   60150
9               3.7   57189
15              4.9   67938
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
22              7.9  101302
23              8.2  113812
25              9.0  105582
26              9.5  116969
27              9.6  112635
29             10.5  121872
Showing the dataset .... 0.5 : 0.5
x part ...
    YearsExperience  Salary
13              4.1   57081
16              5.1   66029
29             10.5  121872
21              7.1   98273
25              9.0  105582
22              7.9  101302
20              6.8   91738
5               2.9   56642
28             10.3  122391
2               1.5   37731
26              9.5  116969
0               1.1   39343
15              4.9   67938
24              8.7  109431
23              8.2  113812
y part ...
    YearsExperience  Salary
1               1.3   46205
3               2.0   43525
4               2.2   39891
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
14              4.5   61111
17              5.3   83088
18              5.9   81363
19              6.0   93940
27              9.6  112635
Showing the dataset .... 0.6 : 0.4
x part ...
    YearsExperience  Salary
14              4.5   61111
28             10.3  122391
4               2.2   39891
22              7.9  101302
29             10.5  121872
5               2.9   56642
7               3.2   54445
3               2.0   43525
13              4.1   57081
11              4.0   55794
26              9.5  116969
23              8.2  113812
27              9.6  112635
17              5.3   83088
6               3.0   60150
21              7.1   98273
20              6.8   91738
9               3.7   57189
y part ...
    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
8               3.2   64445
10              3.9   63218
12              4.0   56957
15              4.9   67938
16              5.1   66029
18              5.9   81363
19              6.0   93940
24              8.7  109431
25              9.0  105582
Showing the dataset .... 0.7 : 0.30000000000000004
x part ...
    YearsExperience  Salary
24              8.7  109431
26              9.5  116969
11              4.0   55794
22              7.9  101302
9               3.7   57189
5               2.9   56642
12              4.0   56957
2               1.5   37731
27              9.6  112635
23              8.2  113812
18              5.9   81363
0               1.1   39343
20              6.8   91738
14              4.5   61111
8               3.2   64445
29             10.5  121872
25              9.0  105582
15              4.9   67938
17              5.3   83088
13              4.1   57081
4               2.2   39891
y part ...
    YearsExperience  Salary
1               1.3   46205
3               2.0   43525
6               3.0   60150
7               3.2   54445
10              3.9   63218
16              5.1   66029
19              6.0   93940
21              7.1   98273
28             10.3  122391
Showing the dataset .... 0.7999999999999999 : 0.20000000000000007
x part ...
    YearsExperience  Salary
28             10.3  122391
23              8.2  113812
20              6.8   91738
0               1.1   39343
16              5.1   66029
6               3.0   60150
7               3.2   54445
5               2.9   56642
12              4.0   56957
17              5.3   83088
21              7.1   98273
22              7.9  101302
26              9.5  116969
24              8.7  109431
19              6.0   93940
15              4.9   67938
11              4.0   55794
10              3.9   63218
25              9.0  105582
18              5.9   81363
13              4.1   57081
1               1.3   46205
2               1.5   37731
9               3.7   57189
y part ...
    YearsExperience  Salary
3               2.0   43525
4               2.2   39891
8               3.2   64445
14              4.5   61111
27              9.6  112635
29             10.5  121872
Showing the dataset .... 0.8999999999999999 : 0.10000000000000009
x part ...
    YearsExperience  Salary
15              4.9   67938
5               2.9   56642
20              6.8   91738
14              4.5   61111
3               2.0   43525
21              7.1   98273
25              9.0  105582
1               1.3   46205
28             10.3  122391
8               3.2   64445
23              8.2  113812
24              8.7  109431
10              3.9   63218
17              5.3   83088
18              5.9   81363
2               1.5   37731
9               3.7   57189
11              4.0   55794
6               3.0   60150
13              4.1   57081
16              5.1   66029
29             10.5  121872
4               2.2   39891
7               3.2   54445
19              6.0   93940
0               1.1   39343
22              7.9  101302
y part ...
    YearsExperience  Salary
12              4.0   56957
26              9.5  116969
27              9.6  112635

In [ ]:
print("Row wise mean ....\n", dataset.mean(axis=1))
print("\n\n\nrow wise median....\n", dataset.median(axis=1))
print("\n\n\nrow wise mode....\n", dataset.mode(axis=1))
print("\n\n\nrow wise standard deviation....\n", dataset.std(axis=1))

Row wise mean ....
 0     19672.05
1     23103.15
2     18866.25
3     21763.50
4     19946.60
5     28322.45
6     30076.50
7     27224.10
8     32224.10
9     28596.35
10    31610.95
11    27899.00
12    28480.50
13    28542.55
14    30557.75
15    33971.45
16    33017.05
17    41546.65
18    40684.45
19    46973.00
20    45872.40
21    49140.05
22    50654.95
23    56910.10
24    54719.85
25    52795.50
26    58489.25
27    56322.30
28    61200.65
29    60941.25
dtype: float64



row wise median....
 0     19672.05
1     23103.15
2     18866.25
3     21763.50
4     19946.60
5     28322.45
6     30076.50
7     27224.10
8     32224.10
9     28596.35
10    31610.95
11    27899.00
12    28480.50
13    28542.55
14    30557.75
15    33971.45
16    33017.05
17    41546.65
18    40684.45
19    46973.00
20    45872.40
21    49140.05
22    50654.95
23    56910.10
24    54719.85
25    52795.50
26    58489.25
27    56322.30
28    61200.65
29    60941.25
dtype: float64



row wise mode....
        0         1
0    1.1   39343.0
1    1.3   46205.0
2    1.5   37731.0
3    2.0   43525.0
4    2.2   39891.0
5    2.9   56642.0
6    3.0   60150.0
7    3.2   54445.0
8    3.2   64445.0
9    3.7   57189.0
10   3.9   63218.0
11   4.0   55794.0
12   4.0   56957.0
13   4.1   57081.0
14   4.5   61111.0
15   4.9   67938.0
16   5.1   66029.0
17   5.3   83088.0
18   5.9   81363.0
19   6.0   93940.0
20   6.8   91738.0
21   7.1   98273.0
22   7.9  101302.0
23   8.2  113812.0
24   8.7  109431.0
25   9.0  105582.0
26   9.5  116969.0
27   9.6  112635.0
28  10.3  122391.0
29  10.5  121872.0



row wise standard deviation....
 0     27818.924275
1     32670.949586
2     26678.785301
3     30775.408438
4     28205.640973
5     40049.891690
6     42530.351568
7     38496.165960
8     45567.233772
9     40436.113414
10    44699.118777
11    39449.487322
12    40271.852509
13    40359.463039
14    43208.820525
15    48035.955677
16    46685.947410
17    58748.340569
18    57528.157108
19    66421.368384
20    64863.753566
21    69484.484249
22    71625.745004
23    80471.438705
24    77373.250343
25    74651.384210
26    82702.855574
27    79638.184074
28    86536.222856
29    86169.093016
dtype: float64

In [ ]:
print("column wise mean ....\n", dataset.mean(axis=0))
print("\n\n\ncolumn wise median....\n", dataset.median(axis=0))
print("\n\n\ncolumn wise mode....\n", dataset.mode(axis=0))
print("\n\n\ncolumn wise standard deviation....\n", dataset.std(axis=0))

column wise mean ....
 YearsExperience        5.313333
Salary             76003.000000
dtype: float64



column wise median....
 YearsExperience        4.7
Salary             65237.0
dtype: float64



column wise mode....
     YearsExperience  Salary
0               3.2   37731
1               4.0   39343
2               NaN   39891
3               NaN   43525
4               NaN   46205
5               NaN   54445
6               NaN   55794
7               NaN   56642
8               NaN   56957
9               NaN   57081
10              NaN   57189
11              NaN   60150
12              NaN   61111
13              NaN   63218
14              NaN   64445
15              NaN   66029
16              NaN   67938
17              NaN   81363
18              NaN   83088
19              NaN   91738
20              NaN   93940
21              NaN   98273
22              NaN  101302
23              NaN  105582
24              NaN  109431
25              NaN  112635
26              NaN  113812
27              NaN  116969
28              NaN  121872
29              NaN  122391



column wise standard deviation....
 YearsExperience        2.837888
Salary             27414.429785
dtype: float64

In [ ]:
print("Overall mean ....\n", dataset.mean())
print("\n\n\nOverall median....\n", dataset.median())
print("\n\n\nOverall mode....\n", dataset.mode())
print("\n\n\nOverall standard deviation....\n", dataset.std())

Overall mean ....
 YearsExperience        5.313333
Salary             76003.000000
dtype: float64



Overall median....
 YearsExperience        4.7
Salary             65237.0
dtype: float64



Overall mode....
     YearsExperience  Salary
0               3.2   37731
1               4.0   39343
2               NaN   39891
3               NaN   43525
4               NaN   46205
5               NaN   54445
6               NaN   55794
7               NaN   56642
8               NaN   56957
9               NaN   57081
10              NaN   57189
11              NaN   60150
12              NaN   61111
13              NaN   63218
14              NaN   64445
15              NaN   66029
16              NaN   67938
17              NaN   81363
18              NaN   83088
19              NaN   91738
20              NaN   93940
21              NaN   98273
22              NaN  101302
23              NaN  105582
24              NaN  109431
25              NaN  112635
26              NaN  113812
27              NaN  116969
28              NaN  121872
29              NaN  122391



Overall standard deviation....
 YearsExperience        2.837888
Salary             27414.429785
dtype: float64

In [ ]:
import numpy as np
from scipy.optimize import curve_fit

lst1 = dataset['YearsExperience']
lst2 = dataset['Salary']

def fit_func(x, a, b):
    return a*x + b

params = curve_fit(fit_func, lst1, lst2)

[a, b] = params[0]

pred_y = [0]*len(lst2)

k = 0
for i in lst1:
  pred_y[k] = fit_func(i, a, b);
  k += 1
#print(pred_y)

MSE = np.square(np.subtract(lst2, pred_y)).mean()*dataset.shape[0]
print(MSE)

938128551.6684289